
  <style>
    .message-container {
      text-align: center;
      margin-top: 100px;
    }
    .message-container h1 {
      color: #6c757d;
    }
    .message-container p {
      color: #868e96;
    }

  </style>



<body>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 message-container">
        <h1>No Notes Found</h1>
        <p>It looks like you don't have any notes yet. Start creating some!</p>
        <a href="/dashboard/add" class="btn btn-primary">Create a Note</a>
      </div>
    </div>
  </div>


</body>

