<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row">
        {{#if notes.length}}
            {{#each notes}}
            <a href="/dashboard/item/{{this._id}}">
                <h4>{{this.title}}</h4>
            </a>
            {{/each}}
        {{else}}
        <p>No Items found !</p>
        {{/if}}
    </div>
</div>

